
/* a, a:link, a:visited, a:focus, a:hover, a:active{
    color:olive;
    text-decoration:none; 
    cursor: pointer;
  } */
body {
    background-color: rgb(255, 255, 255)
}

/* a:link {
    color: green;
    background-color: transparent;
    text-decoration:none;
  }
  a:visited {
    color: rgb(216, 139, 14);
    background-color: transparent;
    text-decoration: none;
  }
  a:hover {
    color: red;
    background-color: none;
    text-decoration: underline;
  }
  a:active
  {
    color: rgb(18, 253, 218);
    background-color: none;
    text-decoration: underline;
  } */
hr {
    background-color: #F0E1B9FF;
    border-style: none;
    height: 5px;
    width: auto;
}

h1,h2,h4,h5,h6 {color: #A13941FF;}
h3 {color: coral;}
.p {
    color: #A13941FF;
}

thead.t1 {
    color: navy;
}

.t2 {
    color: forestgreen;
}
a.so:link {
    color: green;
    background-color: transparent;
    text-decoration:none;
  }
  a.so:visited {
    color: rgb(216, 139, 14);
    background-color: transparent;
    text-decoration: none;
  }
  a.so:hover {
    color: red;
    background-color: none;
    text-decoration: underline;
  }
  a.so:active
  {
    color: rgb(18, 253, 218);
    background-color: none;
    text-decoration: underline;
  }