body {
    background-color: #FCF6F5FF
}

hr {
    background-color: #F0E1B9FF;
    border-style: none;
    height: 5px;
    width: auto;
}

h1 {color: #A13941FF;}
h2 {color: #A13941FF;}
h3 {color: #A13941FF;}
h4 {color: #A13941FF;}
h5 {color: #A13941FF;}
h6 {color: #A13941FF;}