
/* a, a:link, a:visited, a:focus, a:hover, a:active{
    color:olive;
    text-decoration:none; 
    cursor: pointer;
  } */
/***************************************************************Start**************************************************************************/  
body{
    background-color: rgb(255, 255, 255)
  }
hr {
    border-style: groove;
    border-color: rgb(228, 147, 147);
    width: 100%;
    border-width: 2px;
    border-top: unset;
}

h1,h2,h4,h5,h6 {color: #A13941FF;}
h3 {color: coral;}
thead.t1 {
    color: navy;
}
/***************************************************************Class**************************************************************************/
table.p {
  color: #A13941FF;
  text-shadow: #FC0 1px 0 10px;
  text-decoration: underline;
  /* margin-bottom: 100px; */
  text-align: left;
}
.t2 {
    color: forestgreen;
}
a.so:link {
    color: green;
    background-color: transparent;
    text-decoration:none;
  }
  a.so:visited {
    color: rgb(216, 139, 14);
    background-color: transparent;
    text-decoration: none;
  }
  a.so:hover {
    color: red;
    background-color: none;
    text-decoration: underline;
  }
  a.so:active
  {
    color: rgb(18, 253, 218);
    background-color: none;
    text-decoration: underline;
  }
  input.so:hover{
    color: red;
    background-color: none;
    text-decoration: underline;
  }
  input.so:active
  {
    color: rgb(18, 253, 218);
    background-color: none;
    text-decoration: underline;
  }
  input.so:visited {
    color: rgb(216, 139, 14);
    background-color: transparent;
    text-decoration: none;
  }
  /***************************************************************ID**************************************************************************/
  #myVideo {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
  }
  #hp  {
    float: inline-start
     ;    
     margin: 0 15px 0 0;
     width: 130px;
    }
    #name
    {
      text-align: center;
      padding: 10px 10px  10px  5px;
      text-decoration: underline;
      margin-top: 0px;
      margin-bottom: 0px;
      padding-top: 0px; 
    }
    #social
    {
      text-align: center;
      margin-top: 5%;}
    #bio
    {padding-top: 4%; }
    #my
    {
      text-shadow: rgb(196, 170, 38) 1px 0 10px;
    }
